/* Valores e unidades de medida */

h1 {
    color: red;
    /* color */
    font-size: 64px;
    /* length */
    letter-spacing: 7;
    /* number */
    text-transform: capitalize;
    /* keyword */
}